body{
  background: linear-gradient(
    to right,
    white 0%,
    white 42%,
    rgb(91, 235, 190) 42%,
    rgb(91, 235, 190) 100%
  );
  text-align: left;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.login-container, .login-form{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 50%;
}

label {
  text-align: left;
  padding: 0.25rem0;
}
input {
  margin: 0.5rem0;
  padding: 1rem;
  border-radius: 10px;
  width: 140%;
}

button {
  border: none;
  background-color:rgb(91, 235, 190);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.link-btn{
  background: none;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  color:rgb(91, 235, 190);
  

}